*{
    font-family: "Quicksand", serif;
margin: 0;
padding: 0;
padding-left: 20px;
padding-right: 20px;
}
/* shared styles */
.span-color{
    color: orange;
    margin-left: -18px;
}
.color-pink{
    color: purple;
    margin-left: -18px;
}
.btn-primary{
    width: 150px;
height: 40px;
border-radius: 12px;
font-size: 15px;
color: white;
background: rgb(254, 163, 1);
border: none;
}
.btn-secondary{
    width: 150px;
    height: 40px;
    border-radius: 12px;
    font-size: 15px;
    color: white;
    background: rgb(0, 0, 0);
    border: none;
}
.opacity{
    opacity: 0.9;
}
/* nav styles here */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons{
    display: flex;
    align-items: center;
}
.school-title{
    font-size: 30px;
    font-weight: 800;
}
a{
    text-decoration: none;
    font-size: 20px;
}
/* Nav-ites Style here */
.nav-2{
    display: none;
}
.nav-items a{
    padding: 10px;
}
.home{
    color:Orange;
    font-family: "Quicksand", serif;
}
.about{
    color:Blue;
    font-family: "Quicksand", serif;
}
.Facilities{
    color: rgb(5, 212, 223);
    font-family: "Quicksand", serif;
}
.Admission{
    color: rgb(93, 88, 239);
    font-family: "Quicksand", serif;
}
/* responsive nav */
@media screen and (max-width:576px) {
    .nav{
        display: none;
    }
    *{
        margin: 0;
        padding: 0;
    }
    .nav-2{
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border: 1px solid orange;
    }
}
/* hero-section here */
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-text{
    margin-left: 30px;
    width: 550px;
}
.hero-title{
    font-family: Quicksand;
font-size: 3.5rem;
font-weight: 700;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
}
.img-conatiner{
    width: 468.61px;
height: 575px;
}
.hero-subtitle{
    margin-top: 20px;
    font-size: 20px;
font-weight: 400;
}
.enroll-btn{
    margin-left: 20px;
    margin:20px ;
}
/* hero section responsive here */
@media screen and (max-width:576px) {
    .hero-section{
        flex-direction: column-reverse;
    }
    .hero-title{
        text-align: center;
    }
    .hero-text{
        width: 357px;
height: 252px;
        font-size: 30px;
        text-align: center;
    }
}
/* Cards section here */
.cards-container{
    width: 100%;
height: 779px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.card{
    text-align: center;
    width: 367.8px;
height: 476.78px;
}
.card-title{
    font-size: 1.5rem;
}
.card a{
    font-size: 10px;
}